.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.button {
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  background: #f4f4f4;
  display: inline-block;
  cursor: hand;
  cursor: pointer;
}

.panel {
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
}

.panel img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

#debug {
  margin-top: 5%;
}

#letter {
  line-height: 100px;
  font-size: 4em;
}
